.name{
    background-image:radial-gradient(#BAD0CC,#FFFBA7)

}
body{
    background-color:#99CAD9 ;
}
.img{
    filter:grayscale(100%);
    border-radius:25px;
    margin: 10px;
    
    
}
.img:hover{
    filter: grayscale(0%);
}
.card{
    display:inline-block;
}
.container{
  display: contents;
}
.foot{
    color:darkblue;
}
